/*==============================================================
# Inputs
==============================================================*/

label {
	font-size: 1em;
	font-weight: bold;
}
.form-input {
	position: relative;
	z-index: 1;
}
select.srt-only:focus {
    font-size: .95em;
    min-height: 40px;
    padding: 10px;
    width: 100%;
    margin: 0;
    left: 0;
    top: 0;
    bottom: 0;
    -webkit-appearance: none;
    border-radius: 0;
    border: none;
    box-shadow: none;
}
.custom-select {
	padding: 10px 30px 10px 10px;
	width: 100%;
	border: 1px solid $grayMedium;
	box-shadow: none;
	background-color: $bodyBackground;
	background-image: none;
	border-radius: 0;
	appearance: none;
	text-indent: 0.01px;
	text-overflow: "";
	font-size: .95em;
	min-height: 40px;
}
.select-input {
	.icon {
		display: block;
		top: 50%;
		right: 10px;
		position: absolute;
		pointer-events: none;
		border-top: 5px solid $black;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		transform: translateY(-50%) rotate(0deg);
		transform-origin: center;
		transition: all .4s $cbTrans;
	}
	&.active-select {
		.icon {
			transform: translateY(-50%) rotate(180deg);
		}
	}

}
.custom-select {
	cursor: pointer;
	&:before {
		content: attr(data-current-value);
		display: inline-block;
	}
}
.select-list {
	list-style: none;
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    box-shadow: 0 1px 0 0 $grayMedium, 0 5px 15px -3px $grayDark, 1px 0 0 $grayMedium, -1px 0 0 $grayMedium, 0 -1px 0 0 $grayMedium;
    opacity: 0;
    height: 0;
    overflow: hidden;
	transform: translateY(5px);
    transition: all .3s $cbTrans;
    background: $white;
    .active-select & {
    	opacity: 1;
	 	height: auto;
    	transform: translateY(1px);
    }
    li {
    	padding: 10px;
    	&:hover,
    	&:focus {
    		background: $black;
    		color: $white;
    	}
    }
    .selected {
    	font-weight: bold;
    }
}