/*==============================================================
# Timeline
==============================================================*/

.timeline {
	position: relative;
	svg {
		width: 100%;
		height: 100%;
	}
}
.timeline-bar {
	width: 100%;
	height: 40px;
	position: relative;
	border: 1px solid $grayMedium;
	background: $gray;
	.bar {
		fill: $yellow;
		transition: all .4s $cbTrans;
		transition-delay: .4s;
	}
}
.no-js {
	.bar {
		fill: $gray;
	}
}
.timeline-button {
	width: 25px;
	height: 20px;
	position: absolute;
	left: -25px;
	top: 10px;
	transform: translateX(0px);
	transition: all .4s $cbTrans;
	&:hover {
		transform: translateX(-3px);
	}
	svg {
		display: inline-block;
	}
}
.timeline-legend {
    width: 92.5%;
    display: block;
    margin: 0 auto;
    font-size: .75em;
    color: $grayDark;
	ol {
		list-style: none;
		display: flex;
		justify-content: space-between;
		align-content: center;
		span {
			@extend .srt-only;
		}
		li {
			position: relative;
			height: 30px;
			&:before {
				content: "";
				position: absolute;
				top: 0%;
				background: $grayMedium;
				height: 10px;
				width: 1px;
			}
			&.enabled {
				&:after {
					content: attr(data-value);
					position: absolute;
					bottom: 0%;
					left: 50%;
					transform: translateX(-50%);
				}
			};
		}
	}
}
