// 1. Configuration and helpers
@import
    'utilities/_fonts',
    'utilities/_variables',
    'utilities/_mixins',
    'utilities/_grid';

// 2. Base
@import
    'base/_reset',
    'base/_typography',
    'base/_helpers';

// 3. Elements
@import
    'elements/_breadcrumbs',
    'elements/_inputs',
    'elements/_links',
    'elements/_buttons',
    'elements/_lists';

// 4. Blocks
// Typically used once per view)
@import
    'blocks/_header',
    'blocks/_footer';

// 5. Components 
// Similar to blocks but built to use as many times as needed per view
@import
    'components/_forms',
    'components/_tables',
    'components/_timeline';

// 6. Modifiers
@import
    'modifiers/_color-schemes',
    'modifiers/_spacing',
    'modifiers/_sizing',
    'modifiers/_alignment';