/*--------------------------------------------------------------
# Color Schemes
--------------------------------------------------------------*/

.gray-text {
  color: $grayDark;
  &.faded {
  	color: lighten($grayDark, 45%);
  }
}
.white-text {
	color: $white;
}
.black-background {
	background: $black;
	color: invert($black);
	a {
		color: invert($black);
	}
}